{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center mt-5 mb-3">Follow New Users</h1>
<form method="post">
    {% crispy follow_form %}
</form>

<h2 class="text-center mt-5 mb-3">Following</h2>
{% if followed|length > 0 %}
    {% for user in followed %}
    <div class="row">
       <div class="col">
           <div class="form-control bg-light">{{ user.username }}</div>
       </div>
        <form class="mb-1" method="post">
            {% csrf_token %}
                <input type="hidden" name="unfollow_user" value="{{ user.username }}">
                <input class="col-auto btn btn-secondary" type="submit" value="🙈 Unfollow">
        </form>
    </div>
    {% endfor %}
{% else %}
    <p>You do not follow anybody at the moment. Enter a user's username in the field above to follow them.</p>
{% endif %}

<h2 class="text-center mt-5 mb-3">Followers</h2>
{% if followers|length > 0 %}
    {% for user in followers %}
    <div class="row mb-1">
       <div class="col">
           <div class="form-control bg-light">{{ user.username }}</div>
       </div>
    </div>
    {% endfor %}
{% else %}
    <p>You have no followers at the moment. Post reviews to get more followers.</p>
{% endif %}

{% endblock %}