{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center mt-5 mb-3">Follow New Users</h1>
<form method="post">
    {% crispy follow_form %}
</form>

<h2 class="text-center mt-5 mb-3">Following</h2>
{% for user in followed %}
<div class="row">
   <div class="col">
       <div class="form-control bg-light">{{ user.username }}</div>
   </div>
    <form method="post">
        {% csrf_token %}
            <input type="hidden" name="unfollow_user" value="{{ user.username }}">
            <input class="col-auto btn btn-secondary" type="submit" value="Unfollow">

    </form>
</div>
{% endfor %}

<h2 class="text-center mt-3 mb-3">Followers</h2>
{% for user in followers %}
<div class="row mb-3">
   <div class="col">
       <div class="form-control">{{ user.username }}</div>
   </div>
</div>
{% endfor %}


{% endblock %}