{% load reviews_extras %}

<div class="card bg-review my-2">
    <div class="card-header d-flex">
        <span class="flex-fill ">✍️ {% get_poster_display review.user %} posted a review</span>
        <span class="flex-fill text-right">📅 {{ review.time_created }}</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ review.headline }} - <span class="stars">{{ review|stars }}</span></h5>
        <div class="card-text mb-4">{{ review.body }}</div>

        {% include 'reviews/partials/ticket_snippet.html' with ticket=review.ticket %}

        {% if review.editable %}
        <div class="text-right">
            <a class="card-link btn btn-primary" href="{% url 'edit_review' review.id %}">✏️ Edit review</a>
            {% include 'reviews/partials/delete_post.html' %}
        </div>
        {% endif %}
    </div>
</div>
