<div class="card border-secondary my-2">
    <div class="card-header d-flex">
        <span class="flex-fill ">{{ review.user.username }} posted a review</span>
        <span class="flex-fill text-right">{{ review.time_created }}</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ review.headline }} - {{ review.rating }}</h5>
        <div class="card-text mb-4">{{ review.body }}</div>

         {% include 'reviews/partials/ticket_snippet.html' with ticket=review.ticket %}
    </div>

</div>
