<div class="card border-primary my-2">
    <div class="card-header d-flex">
        <span class="flex-fill ">{{ ticket.user.username }} requested a review</span>
        <span class="flex-fill text-right">{{ ticket.time_created }}</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ ticket.title }}</h5>
        <div class="card-text">{{ ticket.description }}</div>
        {% if ticket.image %}
            <div class="card-img-container my-3">
                  <img src="{{ ticket.image.url }}" alt="">
            </div>
        {% endif %}

        <a class="card-link btn btn-primary" href="{% url 'write_review' ticket.id %}">Post a review</a>
    </div>
</div>