

/* Forms */
#hint_id_username, #hint_id_password2 {
    display: none;
}

#hint_id_password1 ul {
    list-style: none;
    padding-left: 0;
}

.asteriskField {
    display: none;
}

/* Tickets */
.bg-ticket {
    background-color: rgb(232, 241, 255);
}

.card-img-container img {
    max-width: 100%;
    height: auto;
}

/* Reviews */
.bg-review {
    background-color: rgb(255, 249, 234);
    border-color: rgb(255, 209, 102);
}

.stars {
    color: gold;
}