.ticket-container {
    border: 1px solid black;
}

.review-container {
    border: 1px solid black;
}

/* Forms */
#hint_id_username, #hint_id_password2 {
    display: none;
}

#hint_id_password1 ul {
    list-style: none;
    padding-left: 0;
}

.asteriskField {
    display: none;
}

/* Tickets */
.card-img-container img {
    max-width: 100%;
    height: auto;
}

/* Reviews */
.stars {
    color: gold;
}