{% load static %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="icon" href="{% static 'media/favicon.ico' %}">
    </head>
    <body class="d-flex flex-column h-100">
        <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'feed' %}">
                <img src="{% static 'media/LITReview_Logo_Sq.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                LITReview
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'feed' %}">Feed</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'posts' %}">Posts</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'following' %}">Following</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right py-0" style="min-width: 0;">
                                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <main role="main" class="">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer class="mt-auto px-auto">
            <div class="text-center bg-light py-4 px-0 mt-4">
                <span>
                    Developed by
                    <a href="https://github.com/franfif/"
                       target="_blank" rel="noopener noreferrer">
                        Francis Barrow
                    </a>
                    - 2023
                </span>
            </div>
        </footer>
    </body>
</html>