{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <navbar class="navbar">
            <a href="{% url 'home' %}"><h1>LITReview</h1></a>
            {% if user.is_authenticated %}
            {% comment %}
                <p><a href="">Feed</a></p>
                <p><a href="">Posts</a></p>
                <p><a href="">Following</a></p>
            {# <p><a href="">My Account</a></p> #}
            {% endcomment %}
                <p><a href="">Log out</a></p>
            {% endif %}
        </navbar>
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>