{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <navbar class="navbar">
            <h1>LITReview</h1>
            {% if user.is_authenticated %}
                <p><a href="{% url 'home' %}">Feed</a></p>
                <p><a href="{% url 'posts' %}">Posts</a></p>
                <p><a href="">Following</a></p>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            {% endif %}
        </navbar>
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="main">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>